img.nav-user-thumb {
	width: 64px;
	height: 64px;
}

.header-navbar {
	margin-bottom: 10px;
}

/* for login and signup forms */
.dropdown-menu {
	z-index: 1031 !important;
}

.onairuserforms .input-prepend .add-on {
	width: 100px;
	text-align: left;
}

.label.label-home-header {
	font-size: 30px;
	line-height: 35px;
	margin: 10px 0;
	display: block;
	text-align: center;
}

.well.task-well hr,
.well.community-task-well hr {
	margin: 15px 0;
	border-top-color: #000;
	border-bottom-color: #eee;
}

.table.task-table .label {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	line-height: 18px;
}

.footer-nav {
	position: relative !important;
}

img.community-icon {
	width: 128px;
	height: 128px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.profile-picture-ctnr {
	width: 100px;
	height: 100px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin-right: 5px;
	margin-left: 20px;
}

img.profile-picture {
	width: 100%;
	height: 100%;
}

.well.community-task-well {
	position: relative;
}

.bottom-margin {
	margin-bottom: 10px;
}

h2.profile-heading {
	text-transform:capitalize;
	line-height: 130px;
	border-bottom: 1px solid #000;
	height: 80px;
}

.profile-well {
}

.no-margin-left {
	margin-left: 0;
}

/*
.community-task-well .community-meta {
	top: 0;
	right: 0;
	position: absolute;
}
*/

/**
 * Sprites in create task type form
 */
.sprite-icon {
	width: 22px;
	height: 22px;
	background: #fff url('../img/sprite01.png') no-repeat top left;
	display: block;
	float: left;
	margin-right: 3px;
	margin-left: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.sprite-icon-text {
	background-position: 0 -1932px;
}

.sprite-icon-paragraph {
	background-position: -21px -2037px;
}

.sprite-icon-multiple-choice {
	background-position: 0 -2478px;
}

.sprite-icon-dropdown {
	background-position: -21px -588px;
}

.sprite-icon-checkboxes {
	background-position: 0 -1827px;
}

.sprite-icon-date {
	background-position: 0 -2520px;
}

.sprite-icon-integer {
	background-position: 0 -651px;
}

.sprite-icon-decimal-number {
	background-position: 0 -1491px;
}

.sprite-icon-image {
	background-position: 0 -1302px;
}

.sprite-icon-phone-number {
	background-position: -21px -1617px;
}

.sprite-icon-location-map {
	background-position: 0 -1869px;
}

body.createTaskType .popover.right .popover-content,
body.createTaskType .popover.top .popover-content {
	padding: 0;
}

body.createTaskType .popover.right,
body.createTaskType .popover.top {
	max-width: 500px;
	z-index: 3000;
}

body.createTaskType .popover.right table,
body.createTaskType .popover.top table {
	margin-bottom: 0;
}

.input-type-table tr td {
	width: 175px;
}

.top-bottom-border {
	border-top: 1px dotted #468847;
	border-bottom: 1px dotted #468847;
	padding: 10px 0;
}

body.createTaskType .whenClosed {
}

.small-heading {
	color: #666;
	font-size: 11px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-weight: bold;
	border-bottom: none;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 8px;
	padding: 3px 6px;
	background-color: #f2f2f2;
}

.list-item {
	margin-bottom: 8px;
	padding-right: 4px;
}

.list-item + .list-item {
	border-top: 1px solid #e9e9e9;
	padding-top: 8px;
}

.sort-selection-line {
	background: #999;
	height: 2px;
	width: 100%;
	margin: 5px 0 10px;
	position: relative;
}

.sort-selection-item {
	position: absolute;
	padding: 0 2px;
	right: 20px;
	top: -8px;
	height: 20px;
	background: #fff;
	color: gray;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.sort-selection-item .caret {
	vertical-align: super;
}

.sort-selection-menu {
	display: none;
	position: absolute;
	top: 9px;
	z-index: 1;
	right: 20px;
	background: #fff;
	width: 150px;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

#topRightButtons {
	text-align: right;
}

#topRightButtons .popover {
	width: 400px;
	max-width: 400px;
}

#topRightButtons .popover-content {
	padding: 0;
}

.notifications-body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}

.notification-panel h5 {
	margin: 0;
	padding: 5px;
}

.notifications-body a {
	font-weight: bold;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}

.notif-outer {
	padding: 5px 5px;
	cursor: pointer;
}

.notif-outer.new-notif {
	background-color: #eceff5;
	background: rgba(237,239,245,0.98);
}

.notif-outer:hover, .notif-outer.new-notif:hover {
	background-color: #f4f6f9;
}

.notif-outer + .notif-outer {
	border-top: 1px solid #e9e9e9;
}

.notif-outer + .notif-outer.new-notif {
	border-top: 1px solid #999;
}

.sprite2 {
	width: 16px;
	height: 16px;
	background: url('../img/sprite02.png') no-repeat top left;
	display: block;
	float: left;
	margin-right: 3px;
}

.sprite2-pin {
	background-position: -17px -622px;
}