img.nav-user-thumb {
	width: 64px;
	height: 64px;
}

.header-navbar {
	margin-bottom: 10px;
}

.label.label-home-header {
	font-size: 30px;
	line-height: 35px;
	margin: 10px 0;
	display: block;
	text-align: center;
}

.well.task-well hr,
.well.community-task-well hr {
	margin: 15px 0;
	border-top-color: #000;
	border-bottom-color: #eee;
}

.table.task-table .label {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	line-height: 18px;
}

.footer-nav {
	position: relative !important;
}

img.community-icon {
	width: 128px;
	height: 128px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.well.community-task-well {
	position: relative;
}

/*
.community-task-well .community-meta {
	top: 0;
	right: 0;
	position: absolute;
}
*/