.label.label-home-header {
	font-size: 30px;
	line-height: 35px;
	margin: 10px 0;
	display: block;
	text-align: center;
}

.well.task-well hr {
	margin: 15px 0;
	border-top-color: #000;
	border-bottom-color: #eee;
}

.table.task-table .label {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	line-height: 18px;
}